Form {
    color: rgb(255, 255, 255);
  }

Form button {
  width: auto !important;
  border: none !important;
  padding: 10px 20px !important;
  
}


#formulario1 {
  margin-left: 59px;
}

#formulario2 {
  margin-left: 14px;
}




  