form {
  background-color: #586F7C; 
  margin-top: 40px;
  padding: 60px;
  border-radius: 10px;
}
form button {
  background-color: #2F4550 !important;
  color: #fff !important;
  font-size: 19px !important;
  width: 100%;
}
form button:hover {
  background-color: #263740 !important;
}